/* Fonts */
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-Book.woff') format('woff'),
  url('../fonts/Gotham-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.eot');
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-Bold.woff') format('woff'),
  url('../fonts/Gotham-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Bold.woff') format('woff'),
  url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.eot');
  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-SemiBold.woff') format('woff'),
  url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
html {
  font-size: 10px;
}
body {
  color: #434343;
  font-family: 'Gotham';
  font-weight: 400;
}
a,
button,
input[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* global styles */
h2 {
  color: #282828;
  font-size: 2.3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.051rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  color: #00baac;
  font-family: 'Montserrat';
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.16rem;
  letter-spacing: -0.046rem;
}
h5 {
  color: #00baac;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.84rem;
  letter-spacing: 0.06rem;
}
p {
  font-size: 1.4rem;
}
button.btn {
  background-color: #1bb394;
  border: none;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(139, 139, 139, 0.71);
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(139, 139, 139, 0.71);
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: 'OpenSans';
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 3.943rem;
  padding: 0 4.6rem 0 1.9rem;
  height: 5.4rem;
  width: 17.1rem;
}
button.btn.red {
  background-color: #ffffff;
  color: #686b6d;
}
button.btn.red svg {
  color: #d90f0f;
}

/* container styles */
.container {
  background-color: #ffffff;
  border-radius: 0.2rem;
  -webkit-box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(139, 139, 139, 0.71);
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(139, 139, 139, 0.71);
  padding: 1.4rem;
}

/* form styles */
.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.form__group label,
.form__group input,
.form__group-from input,
.form__radio label,
.form__radio input,
.form__radio select,
.form__radio option,
.form p {
  font-size: 1.4rem;
  line-height: 3.84rem;
  letter-spacing: 0.054rem;
}
.form__group input {
  border: 0.1rem solid #e6e6e6;
  margin-bottom: .4rem;
  padding: 0 1.5rem;
}
.form__group input::-webkit-input-placeholder {
  color: #434343;
}
.form__group input::-moz-placeholder {
  color: #434343;
}
.form__group input:-ms-input-placeholder {
  color: #434343;
}
.form__group input::-ms-input-placeholder {
  color: #434343;
}
.form__group input::placeholder {
  color: #434343;
}
.form__button.right .btn {
  margin-top: 2.8rem;
  margin-left: auto;
  margin-right: 0;
}
.form__group-from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.form__group-from input {
  border: 1px solid #e5e6e7;
  text-align: center;
  width: 50%;
}
.form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.form__radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.form__radio-group .p50 {
  width: 50%;
}
.form__group-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 50%;
}
.form__group-date select {
  border: 1px solid #e5e6e7;
  padding: .9rem;
  text-align: center;
}
.form__group-date .p35 {
  margin-right: 2rem;
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
  width: 100%;
}
.form__group-date .p65 {
  -ms-flex-preferred-size: calc(65% - 2rem);
  flex-basis: calc(65% - 2rem);
}
.form__radio-week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.form__radio-group .every-record {
  border: 1px solid #e5e6e7;
  margin: 0 2rem 0 1rem;
  padding: .9rem;
}
.week-checkbox {
  margin: 0 .35rem;
  height: 3.2rem;
  width: 3.2rem;
}
.week-checkmark {
  background-color: #bfbfbf;    
  border: none;
  border-radius: 50%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'OpenSans';
  font-size: 1.5rem;
  font-weight: 700;  
  text-transform: uppercase;
  height: 3.2rem;
  width: 3.2rem;
}
.week-checkbox input {
  display: none;
}
.week-checkbox input:checked + .week-checkmark {
  background-color: #1bb394;
}

/* custom switch styles */
.switch {
  display: inline-block;
  position: relative;
  height: 1.5rem;
  width: 3.9rem;
}
.switch input {
  opacity: 0;  
  height: 0;
  width: 0;
}
.switch__slider {
  background-color: rgba(204, 204, 204, 0.53);
  border-radius: 1rem/1rem;
  cursor: pointer;
  position: absolute;  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
  -webkit-transition: .4s;  
  -o-transition: .4s;  
  transition: .4s;
}
.switch__slider:before {
  content: "";
  background-color: #ccc;
  border: 0.1rem solid #bbb;
  border-radius: 50%;
  -webkit-box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.28);
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.28);
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  height: 2.1rem;
  width: 2.1rem;
}
.switch input:checked + .switch__slider {
  background-color: rgba(0, 186, 172, .53);
}
.switch input:focus + .switch__slider {
  background-color: rgba(0, 186, 172, .53);
}
.switch input:checked + .switch__slider:before {
  background-color: #00baac;
  border: 0.1rem solid #039f93;
  -webkit-transform: translate(calc(100% - .1rem), -50%);
  -ms-transform: translate(calc(100% - .1rem), -50%);
  transform: translate(calc(100% - .1rem), -50%);
}

/* custom checkbox styles*/
.checkbox {
  cursor: pointer;
  display: block;
  padding-left: 3.6rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  height: 0;
  width: 0;
}
.checkmark {
  background-color: #fff;
  border: 1px solid #ccc;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;
}
.checkbox:hover input ~ .checkmark {
  border: 1px solid #ccc;
}
.checkbox input:checked ~ .checkmark {
  background-color: #2d8f7b;
  border: 1px solid #2d8f7b;
}
.checkmark:after {
  content: "";
  display: none;
  position: absolute;  
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox .checkmark:after {
  left: calc(.75rem - 1px);
  top: calc(.4rem - 1px);
  width: .5rem;
  height: 1rem;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* custom radio button styles */
.radio-btn {
  cursor: pointer;
  display: block;  
  padding-left: 2.9rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-btn input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  height: 0;
  width: 0;
}
.radio-btn__checkmark {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem; 
}
.radio-btn:hover input ~ .radio-btn__checkmark {
  border: 1px solid #ccc;
}
.radio-btn input:checked ~ .radio-btn__checkmark {
  background-color: #2d8f7b;
  border: 1px solid #2d8f7b;
}
.radio-btn__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.radio-btn input:checked ~ .radio-btn__checkmark:after {
  display: block;
}
.radio-btn .radio-btn__checkmark:after {
  left: calc(.75rem - 1px);
  top: calc(.4rem - 1px);
  width: .5rem;
  height: 1rem;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* sliders styles */
.slider__container {      
  margin: 0 auto;
  padding-bottom: 1.8rem;
  width: 100%;
}
.swiper-wrapper {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 1.2rem 0;
}
.slider-color .swiper-slide a {
  display: block;
  pointer-events: none;
}
.swiper-slide svg {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.slider-color .swiper-slide svg.svg-inline--fa {
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  opacity: .5;      
  padding: 1.5rem;
  height: 1.2rem; 
  width: 1.2rem;
}
.slider-color .swiper-slide.purple svg {
  background-color: #8d7ba9;
}
.slider-color .swiper-slide.red svg {
  background-color: #996b6b;
}
.slider-color .swiper-slide.blue svg {
  background-color: #007fa5;
}
.slider-color .swiper-slide.green svg {
  background-color: #28a67a;
}
.slider-color .swiper-slide.yellow svg {
  background-color: #8aab49;
}
.slider-color .swiper-slide-active a {
  pointer-events: all;
}
.slider-color .swiper-slide-active svg.svg-inline--fa {
  opacity: 1;
  height: 2.9rem;
  width: 2.9rem;
}
.slider-buttons .swiper-slide {
  margin: 0 .8rem;
  height: 5.4rem;
  width: 21.7rem;
}
.slider-buttons .swiper-slide:first-child {
  margin-left: 0;
}
.slider-buttons .swiper-slide:last-child {
  margin-right: 0;
}
.slider-buttons .btn-slider {
  background-color: #ffffff;
  border-radius: 0.2rem;
  -webkit-box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(139, 139, 139, 0.71);
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(139, 139, 139, 0.71);
  color: #5e5e5e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
}
.slider-buttons .swiper-slide-active .btn-slider {
  color: #00baac;
}
.information .slider__container {
  width: calc(100% - 2.8rem);
}
.slider-icons .swiper-slide .btn-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  height: 3.8rem;
  width: 4.6rem;
}
.slider-icons .swiper-slide .btn-icon svg {
  color: #676b6d;
  height: 2.4rem;
  width: 100%;
}
.slider-icons .swiper-slide-active .btn-icon {
  background-color: #00baac;
  border-radius: 0.2rem;
  -webkit-box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(139, 139, 139, 0.71);
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(139, 139, 139, 0.71);
}
.slider-icons .swiper-slide-active .btn-icon svg {
  color: #fff;
}
.slider-icons .swiper-button-next {
  right: 0;
}
.slider-icons .swiper-button-prev {
  left: 0;
}
.slider-icons .swiper-button-next:after,
.slider-icons .swiper-button-prev:after {
  background-color: #fff;
  color: #00baac;
  font-size: 3rem;
  font-weight: 700;
  width: 100%;
}

/*--------------------------------------------------------------------*/
/* header styles */
.header {
  background-color: #00baac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 3.1rem 0 1.8rem;
  position: fixed;
  height: 6.7rem;
  width: 100%;
  z-index: 9;
}
.header__logo h2 {
  color: #ffffff;
  font-weight: 700;
  line-height: 2.3rem;
  letter-spacing: .081rem;
  text-transform: uppercase;
}
.header__toggler {
  background: url(../img/menu-open.svg) center / 100% 100% no-repeat;
  cursor: pointer;
  position: relative;
  height: 2.4rem;
  width: 2.7rem;
  z-index: 99;
}
.header__toggler.close {
  background: url(../img/menu-close.svg) center / 100% 100% no-repeat;
  height: 2.4rem;
  width: 2.4rem;
  z-index: 99;
}

/*---header menu styles---*/
.header__menu {
  background-color: rgba(0, 0, 0, .52);
  -webkit-box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.28);
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.28);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;  
  -webkit-transition: all .5s;  
  -o-transition: all .5s;  
  transition: all .5s;
  visibility: hidden;
  height: 100vh;
  width: 100%;
}
.header__menu.show {
  opacity: 1;  
  visibility: visible;
}
.header__menu .header__menu-container {
  background-color: #ffffff;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  width: 75%;
}
.header__menu.show .header__menu-container {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.header__person {
  background: url(../img/menu-header-bg.jpg) center / 100% 100% no-repeat;
  padding: 2.3rem 1.9rem 2.1rem;
}
.header__person-avatar {
  border-radius: 50%;
  margin-bottom: 1.3rem;
  height: 6.3rem;
  width: 6.3rem;
}
.header__person-avatar img {
  width: 100%;
}
.header__person p {
  color: #ffffff;
  letter-spacing: 0.09rem;
}
.header__navbar-section {
  border-bottom: 2px solid #eeeeee;
  padding: 1rem 1.2rem;  
}
.header__navbar-link {
  padding: 1rem 1.2rem;
}
.header__navbar-link,
.header__navbar-link a {
  color: #616161;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
}
.header__navbar-link.active {
  background-color: #e4f2fd;
}
.header__navbar-link.active a {
  color: #3672f4;
}
.header__navbar-link svg {
  margin-right: 2.5rem;
  width: 1.5rem;
}
.header__navbar-link p {
  letter-spacing: 0.09rem;
}
.header__navbar .switch {
  margin-left: auto;
}

/* wrapper styles */
.wrapper {
  background-color: #eee;
  padding-top: 6.7rem;
}

/* auto record styles */
.auto-record {
  padding: 6.8rem 1.6rem 0;
}
.auto-record h4 {
  margin-bottom: 14px;
}
.auto-record__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.auto-record__element p {
  letter-spacing: 0.054rem;
  line-height: 3.84rem;
}

/* information styles */
.information {
  padding-top: 4rem;
}
.information .container,
.information__date,
.information__notices {
  margin: 0 1.6rem;
}
.information h4 {
  margin: 0 1.6rem 1.4rem;
}
.information .container {
  margin-bottom: 3.2rem;
}
.information__date {
  color: #606060;
  font-weight: 700;
  line-height: 2.983rem;
  letter-spacing: -0.045rem;
  margin: 1.3rem 0 3rem;
  opacity: 0.58;
  text-align: center;
}
.information .form h5:not(:first-child) {
  margin-top: .6rem;
}
.information__notices {
  color: #6b6b6b;
  line-height: 2.88rem;
  padding-bottom: 4.5rem;
}
.information__notices svg {
  color: rgba(41, 45, 45, .64);
}
.information__action {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2.5rem 0;
}
.information__action button {
  margin: 0 1.5rem;
  padding-right: 3.3rem;
}
.information__action button svg {
  height: 1.7rem;
}

/* options styles */
.options {
  padding-top: 3.3rem;
}
.options__title {
  margin-bottom: 1.9rem;
  text-align: center;
  padding: 0 1.5rem;
}
.options__subtitle {
  color: #6b6b6b;
  line-height: 2.08rem;
  margin-bottom: 4rem;
  padding: 0 1.5rem;
}
.options h4 {
  padding: 0 1.5rem;
}
.options__card {
  margin: 0 1.5rem;
}
.options__card h5 {
  margin-bottom: 1.7rem;
}
.options__card p {
  letter-spacing: 0.054rem;
  line-height: 2.48rem;
  margin-bottom: 3.8rem;
}
.player {
  border: 2px solid #9e9e9e;
  border-radius: 5rem/5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 1.5rem 0 1.9rem;
  height: 3.2rem;
}
.player__play {
  margin-right: 2rem;
}
.player__play svg {
  opacity: .42;
  height: 1.1rem;
}
.player__timeline {
  background-color: rgba(0, 0, 0, .38);
  position: relative;
  height: .3rem;
  width: 100%;
}
.player__red-circle {
  background-color: #fa4180;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 1.3rem;
  width: 1.3rem;
}
.player__time {
  color: #000000;
  font-family: 'OpenSans';
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-left: 1.5rem;
}

/* recording styles */
.recording {
  padding-top: 3rem;
}
.recording .container {
  margin: 0 1.5rem 1rem;
  padding: 1.5rem 1rem 2rem;
}
.recording__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.recording__title h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.recording__title h5 span {
  background-color: #007fa5;
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: .5rem;
  height: 2rem;
  width: 2rem;
}
.recording__title h5 span .svg-inline--fa {
  display: none;
}
.recording__title h5 span.urgent .svg-inline--fa {
  display: block;
  width: 1rem;
}
.recording p {
  line-height: 2.48rem;
  letter-spacing: 0.054rem;
}
.recording__footer {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #eee), to(rgba(238, 238, 238, 0)));
  background: -o-linear-gradient(bottom, #eee 60%, rgba(238, 238, 238, 0) 100%);
  background: linear-gradient(0deg, #eee 60%, rgba(238, 238, 238, 0) 100%);
  position: fixed;
  bottom: 0;
  height: 20.7rem;
  width: 100%;
}
.recording__footer.active {
  background: rgba(238, 238, 238, .59);
  height: 100%;
}
.recording__footer-container {
  background-color: #282828;
  border-radius: 5rem/5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 3rem;
  position: absolute;
  left: .8rem;
  right: .8rem;
  bottom: 5.8rem;
  height: 4.5rem;
}
.recording__footer button {
  background-color: transparent;
  border: none;
  color: #fff;
}
.recording__footer button svg.svg-inline--fa {
  height: 2.2rem;
  width: 2.2rem;
}
.recording__footer .recording__microphone span:nth-child(1),
.recording__footer .recording__microphone span:nth-child(2),
.recording__footer .recording__microphone span:nth-child(3) {
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.recording__footer .recording__microphone span:nth-child(1) {
  opacity: 0.41;
  height: 8.7rem;
  width: 8.7rem;
  z-index: 1;
}
.recording__footer .recording__microphone span:nth-child(2) {
  opacity: 0.26;
  height: 9.9rem;
  width: 9.9rem;
  z-index: 2;
}
.recording__footer .recording__microphone span:nth-child(3) {
  background-color: #282828;
  height: 7.5rem;
  width: 7.5rem;
  z-index: 3;
}
.recording__footer.active .recording__microphone span:nth-child(3) {
  background-color: #00baac;
}
.recording__footer .recording__microphone svg.svg-inline--fa {
  height: 3.6rem;
  width: 2.4rem;
}
.recording__footer .recording__info {
  display: none;
  position: absolute;
  top: -8.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 6rem;
}
.recording__footer.active .recording__info {
  display: block;
}
.recording__footer.active .recording__info h3,
.recording__footer.active .recording__info h4 {
  color: #282828;
  font-weight: 700;
  line-height: 2.983rem;
  text-align: center;
}
.recording__footer.active .recording__info h3 {
  font-size: 3.1rem;
  letter-spacing: -0.069rem;
  text-transform: uppercase;
}
.recording__footer.active .recording__info h4 {
  font-size: 2rem;
  letter-spacing: -0.045rem;
}

/* Landscape phones and smaller */
@media (min-width: 480px) {
  html {
    font-size: 11px;
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: 767px) {
  html {
    font-size: 12px;
  }
  .recording__footer {
    height: 15rem;
  }
  .recording__footer-container {
    bottom: 2rem;
    height: 4rem;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 991px) {
  html {
    font-size: 13px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 991px) {
  html {
    font-size: 14px;
  }
}

/* Large desktops and laptops */
@media (min-width: 1439px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1599px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1919px) {
  html {
    font-size: 17px;
  }
}
